<app-header></app-header>
<header class="py-5">
  <div
    id="carouselExampleAutoplaying"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://s3.ap-south-1.amazonaws.com/www.pothys.com/hmain366030.jpg?v=1709749800"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://s3.ap-south-1.amazonaws.com/www.pothys.com/hmain254074.jpg?v=1709749800"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://s3.ap-south-1.amazonaws.com/www.pothys.com/hmain362262.jpg?v=1709749800"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</header>
<!-- Section-->
<section class="py-3">
  <div class="container px-4 px-lg-5 mt-5">
    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
    >
    <div *ngIf="(allProducts | search :searchKey).length==0" class="fw-bolder mt-5 text-danger text-center mb-5 fs-2 w-100">No product found!!!</div>
      <div *ngFor="let product of allProducts | search :searchKey" class="col mb-5">
        <div style="height: 500px;" class="card ">
          <!-- Product image-->
          <img height="250px" width="200px" style="cursor: pointer;background-size: cover;"  routerLink="/view/{{product.id}}"
            class="card-img-top"
            src={{product.image}}
            alt="..."
          />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">{{product.title.slice(0,20)}}...</h5>
              <!-- Product price-->
              {{product.price}}
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
           <div class="d-flex justify-content-between ">
             <button (click)="adddToWishlist(product)" class="btn btn-outline-danger fs-5  ">
               <i class="fa-solid fa-heart text-danger"></i>
             </button>
             <button (click)="addToCart(product)" class="btn btn-outline-success fs-5">
               <i class="fa-solid fa-cart-plus text-success"></i>
             </button>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
